.container {
  margin: 4rem 15rem;
  .found-idea-text {
    font-size: 28px;
    color: gray;
  }
}


.idea-detail {
  width: 700px;
  //background-color: red;
}

.step-action {
  width: 700px;
  //background-color: red;
}
