@import "~@angular/material/theming";

.found-idea-text {
  font-size: 28px;
  color: gray;
}

.text-title {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.text-sub-title {
  font-size: 22px;
  color: #e2dce2;
}


.displayed-container {
  width: 1000px;
  margin: 5rem 5rem 5rem 5rem;
  padding: 5rem;
  //background-color: black;
  //opacity: 0.5;
  border-radius: 6px;
}

.text-header-web {
  font-size: 70px;
  white-space: pre-wrap;
  line-height: 60px;
  color: white;
  //text-shadow: 2px 2px 2px gray;
}
