mat-card {
  width: 380px;
}

.header-idea {
  font-size: 20px;
}

.description-idea {
  font-size: 12px;
  color: gray;
  //.more {
  //  display: none;
  //}
  .read-more-btn {
    color: #00a4d2;
  }
  .read-more-btn:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.progress-detail {
  padding-top: 12px;
  font-size: 12px;
  color: gray;
}

.owner-idea {
  .display-name {
    color: #00a4d2;
  }
  .display-name:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.cover-container {
  //font-size: 12px;
  .btn-action-group {
    transform: scale(0.75);
    position: absolute;
    top: -18px;
    right: -10px;
    visibility: hidden;
  }
  &:hover {
    .btn-action-group {
      visibility: visible;
    }
  }
}

button:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.cover-container:hover {
  filter: brightness(90%);
}

.location-text {
  text-overflow: "...";
  width: 100px;
  //text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
