<mat-card *ngIf="!isLoading" class="mat-elevation-z2">
  <div class="cover-container">
    <img mat-card-image
         src="https://material.angular.io/assets/img/examples/shiba2.jpg"
         alt="cover image"
         (click)="onClickCard()">
    <div class="btn-action-group" fxLayout="column" fxLayoutGap="6px">
      <button mat-mini-fab color="primary" class="mat-elevation-z4" matTooltip="Add to my favorite" matTooltipPosition="right">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="mat-elevation-z4" matTooltip="Like" matTooltipPosition="right">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="mat-elevation-z4" matTooltip="Dislike" matTooltipPosition="right">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="header-idea">
        {{ideaDetail.project_name}}
      </div>
      <div class="description-idea">
        {{ideaDescription}}
        <span *ngIf="isHaveMoreDescription && !isReadMore" class="read-more-btn" (click)="onClickReadMore()">show more</span>
        <span class="more" *ngIf="isReadMore">
          {{readMoreIdeaDes}}
        </span>
        <span *ngIf="isReadMore" class="read-more-btn" (click)="onClickReadMore()">show less</span>
      </div>
      <br>
      <div class="owner-idea">
        by. <span *ngIf="userData.displayName" class="display-name">{{userData.displayName}}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div fxLayout="row" fxFlex="100%" class="progress-detail">
      <div fxLayout="column" fxFlex="50%">
        <div>$20 now</div>
        <div>${{ideaDetail.funding_target}} need</div>
        <div>%63 funded</div>
        <div>23 day to go</div>
      </div>
      <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center end">
        <circle-progress
          [percent]="63"
          [radius]="40"
          [startFromZero]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="progressBarPrimaryColor"
          [innerStrokeColor]="progressBarSecondaryColor"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="2rem">
      <div fxLayout="row wrap" >
        <div *ngFor="let tag of ideaDetail.tags">
          <a mat-button color="primary">#{{tag}}</a>
        </div>
      </div>
      <a mat-raised-button>
        <mat-icon>location_on</mat-icon>
        {{ideaDetail.location}}
      </a>
    </div>
  </mat-card-actions>
</mat-card>

<div *ngIf="isLoading"
     fxLayout="row"
     fxLayoutAlign="center center"
     style="width: 100px; height: 100px">
  <mat-spinner [diameter]="30"></mat-spinner>
</div>

