<div fxFlex="100" >
  <div fxLayout="column" fxLayoutAlign="space-around center" style="margin-top: 50px">
    <h1>Lorem Ipsum คืออะไร?</h1>
    <p>Lorem Ipsum คือ เนื้อหาจำลองแบบเรียบๆ ที่ใช้กันในธุรกิจงานพิมพ์หรืองานเรียงพิมพ์ มันได้กลายมาเป็นเนื้อหาจำลองมาตรฐานของธุรกิจดังกล่าวมาตั้งแต่ศตวรรษที่ 16</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 25px">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="width: 550px; height: 400px">
    <div style="width: 400px; height: 400px">
      <div fxLayout="column" fxFill fxLayoutAlign="space-between none" fxFlex="100" style="padding-left: 35px; padding-right: 35px">
        <mat-progress-bar mode="buffer" value="68"></mat-progress-bar>
        <h1 style="color: #d63447; margin-bottom: 10px">US$ 600,000</h1>
        <p>pledged of <span style="color: #d63447">US$ 25,000 goal</span></p>
        <div>
          <b style="font-size: x-large;">5,312</b>
          <p>backers</p>
        </div>
        <div>
          <b style="font-size: x-large;">12</b>
          <p>hours to go</p>
        </div>
        <div style="width: 100%; height: 35px; margin-bottom: 10px">
          <button mat-flat-button color="primary" fxFlex="100">Back this project</button>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; height: 35px">
          <button mat-stroked-button>
            <mat-icon>favorite_border</mat-icon>
            Add to my favorite
          </button>
          <div fxFlex="45" fxLayout="row" fxLayoutAlign="end center">
            <img class="social-icon" src="./assets/images/facebook.png">
            <img class="social-icon" src="./assets/images/twitter.png">
            <img class="social-icon" src="./assets/images/tumblr.png">
          </div>
        </div>
        <div>
          <p style="font-size: x-small; line-height: 1.5">
            <a href="#">All or nothing.</a>
            This project will only be funded if it reaches its goal by Fri, March 20 2020 5:00 AM UTC +07:00.(mock)
          </p>
        </div>
      </div>
    </div>
  </div>
  <mat-divider style="margin-top: 30px"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <mat-tab-group fxFill mat-align-tabs="center" >
      <mat-tab label="Campaign">
        <div class="idea-detail-container">
          <h2><strong>Story</strong></h2>
          <p>เมื่อเครื่องพิมพ์โนเนมเครื่องหนึ่งนำรางตัวพิมพ์มาสลับสับตำแหน่งตัวอักษรเพื่อทำหนังสือตัวอย่าง Lorem Ipsum อยู่ยงคงกระพันมาไม่ใช่แค่เพียงห้าศตวรรษ แต่อยู่มาจนถึงยุคที่พลิกโฉมเข้าสู่งานเรียงพิมพ์ด้วยวิธีทางอิเล็กทรอนิกส์ และยังคงสภาพเดิมไว้อย่างไม่มีการเปลี่ยนแปลง มันได้รับความนิยมมากขึ้นในยุค ค.ศ. 1960 เมื่อแผ่น Letraset วางจำหน่ายโดยมีข้อความบนนั้นเป็น Lorem Ipsum และล่าสุดกว่านั้น คือเมื่อซอฟท์แวร์การทำสื่อสิ่งพิมพ์ (Desktop Publishing) อย่าง Aldus PageMaker ได้รวมเอา Lorem Ipsum เวอร์ชั่นต่างๆ เข้าไว้ในซอฟท์แวร์ด้วย</p>
          <br>
          <h3><strong>ตรงกันข้ามกับความเชื่อที่นิยมกัน Lorem Ipsum ไม่ได้เป็นเพียงแค่ชุดตัวอักษรที่สุ่มขึ้นมามั่วๆ</strong></h3>
          <p>แต่หากมีที่มาจากวรรณกรรมละตินคลาสสิกชิ้นหนึ่งในยุค 45 ปีก่อนคริสตศักราช ทำให้มันมีอายุถึงกว่า 2000 ปีเลยทีเดียว ริชาร์ด แมคคลินท็อค ศาสตราจารย์ชาวละติน จากวิทยาลัยแฮมพ์เด็น-ซิดนีย์ ในรัฐเวอร์จิเนียร์ นำคำภาษาละตินคำว่า consectetur ซึ่งหาคำแปลไม่ได้จาก Lorem Ipsum ตอนหนึ่งมาค้นเพิ่มเติม โดยตรวจเทียบกับแหล่งอ้างอิงต่างๆ ในวรรณกรรมคลาสสิก และค้นพบแหล่งข้อมูลที่ไร้ข้อกังขาว่า Lorem Ipsum นั้นมาจากตอนที่ 1.10.32 และ 1.10.33 ของเรื่อง "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) ของ ซิเซโร ที่แต่งไว้เมื่อ 45 ปีก่อนคริสตศักราช หนังสือเล่มนี้เป็นเรื่องราวที่ว่าด้วยทฤษฎีแห่งจริยศาสตร์ ซึ่งเป็นที่นิยมมากในยุคเรเนสซองส์ บรรทัดแรกของ Lorem Ipsum "Lorem ipsum dolor sit amet.." ก็มาจากบรรทัดหนึ่งในตอนที่ 1.10.32 นั่นเอง</p>
          <br>
          <p>ด้านล่างของหน้านี้คือท่อนมาตรฐานของ Lorem Ipsum ที่ใช้กันมาตั้งแต่คริสตศตวรรษที่ 16ที่ได้รับการสร้างขึ้นใหม่สำหรับผู้ที่สนใจ ประกอบไปด้วย ตอนที่ 1.10.32 และ 1.10.33 จากเรื่อง "de Finibus Bonorum et Malorum" โดยซิเซโร ก็ได้รับการผลิตขึ้นใหม่ด้วยเช่นกันในรูปแบบที่ตรงกับต้นฉบับ ตามมาด้วยเวอร์ชั่นภาษาอังกฤษจากการแปลของ เอช แร็คแคม เมื่อปี ค.ศ. 1914</p>
          <br>
          <img src="../../../assets/images/bgTest.jpg" height="500" width="100%">

        </div>
      </mat-tab>
      <mat-tab label="Updates">
        <div class="idea-detail-container">
          <mat-card>
            <h3>UPDATE #1</h3>
            <h1>ทำไมจึงต้องนำมาใช้?</h1>
            <img src="https://cdn.pixabay.com/photo/2017/08/10/05/18/home-2618511_960_720.jpg" width="100%" height="400"/>
            <p>มีหลักฐานที่เป็นข้อเท็จจริงยืนยันมานานแล้ว ว่าเนื้อหาที่อ่านรู้เรื่องนั้นจะไปกวนสมาธิของคนอ่านให้เขวไปจากส่วนที้เป็น Layout เรานำ Lorem Ipsum มาใช้เพราะความที่มันมีการกระจายของตัวอักษรธรรมดาๆ แบบพอประมาณ ซึ่งเอามาใช้แทนการเขียนว่า ‘ตรงนี้เป็นเนื้อหา, ตรงนี้เป็นเนื้อหา' ได้ และยังทำให้มองดูเหมือนกับภาษาอังกฤษที่อ่านได้ปกติ ปัจจุบันมีแพ็กเกจของซอฟท์แวร์การทำสื่อสิ่งพิมพ์ และซอฟท์แวร์การสร้างเว็บเพจ (Web Page Editor) หลายตัวที่ใช้ Lorem Ipsum เป็นแบบจำลองเนื้อหาที่เป็นค่าตั้งต้น และเวลาที่เสิร์ชด้วยคำว่า 'lorem ipsum' ผลการเสิร์ชที่ได้ก็จะไม่พบบรรดาเว็บไซต์ที่ยังคงอยู่ในช่วงเริ่มสร้างด้วย โดยหลายปีที่ผ่านมาก็มีการคิดค้นเวอร์ชั่นต่างๆ ของ Lorem Ipsum ขึ้นมาใช้ บ้างก็เป็นความบังเอิญ บ้างก็เป็นความตั้งใจ (เช่น การแอบแทรกมุกตลก)</p>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Comments">
        <div class="idea-detail-container" fxLayout="column" fxLayoutGap="1rem">
          <div class="comment-writer"
               *ngIf="userData"
               fxLayout="row"
               fxLayoutAlign="start center"
               fxLayoutGap="1rem" fxFlex="100">
            <img class="commenter" [src]="userData.photoURL" [alt]="userData.displayName">
            <mat-form-field appearance="standard" fxFlex>
              <mat-label>write a comment</mat-label>
              <textarea type="text" matInput rows="1"></textarea>
            </mat-form-field>
          </div>
          <div class="comment-counter">
            16 Responses
          </div>
          <div fxLayout="column" fxLayoutGap="1rem" style="padding: 0 10rem">
            <mat-card class="mat-elevation-z3">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting. <br> Thanks for good products
                </p>
              </mat-card-content>
            </mat-card>
            <mat-card class="mat-elevation-z3">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
