@import "../../../node_modules/@angular/material/theming";

.login-container {
  padding: 20px;
  .login-header {
    height: 80px;
  }
}
.text-title {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.text-sub-title {
  font-size: 22px;
  color: #e2dce2;
}

.text-header-web {
  //width: 600px;
  font-size: 50px;
  white-space: pre-wrap;
  line-height: 60px;
  color: #636363;
  //text-shadow: 2px 2px 2px gray;
}


button {
  width: 100%;
  color: white;
}

.custom-facebook {
  background-color: #3b5998;
}

.custom-gmail {
  background-color: #B23121;
}


.sign-up-route {
  padding: 1rem;
  font-size: 16px;
  color: #524d51;
}
