<div fxLayout="column">
  <div class="filter-container"
       fxLayout="column"
       fxLayoutAlign="start center"
       fxLayoutGap="1rem">
    <div class="header-filter">Find in CanFund</div>
    <br>
    <div class="filter-group" fxLayout="row" fxLayoutGap="1rem">
      <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
        <div class="filter-name">
          Show me an idea
        </div>
        <mat-form-field appearance="fill">
          <mat-select placeholder="Categories">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
        <div class="filter-name">
          Area you live
        </div>
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="Enter location name">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center center">
        <div class="filter-name">
          Sort by
        </div>
        <mat-form-field appearance="fill">
          <mat-select placeholder="by newest ?">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <p>or</p>
    <div class="search-name" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>Search by name</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="find in canfund">
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="container" fxLayout="column" fxLayoutGap="3rem">
    <div class="found-idea-text">We found 41,554 ideas for you!</div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around start">
      <app-idea-card></app-idea-card>
      <app-idea-card></app-idea-card>
      <app-idea-card></app-idea-card>
      <app-idea-card></app-idea-card>
      <app-idea-card></app-idea-card>
      <app-idea-card></app-idea-card>
    </div>
  </div>

</div>
