<div fxLayout="column"
     fxLayoutGap="3rem"
     style="margin: 1rem 0"
>
  <div class="title-create" fxLayout="column" fxLayoutAlign="center center">
    <h2>Start with the basics</h2>
    <p>Make it easy for people to learn about your project.</p>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100" class="create-container">
    <div fxLayout="column" fxFlex="50%">
      <div class="header">Project name</div>
      <div class="sub-header">Write a clear, brief title that helps people quickly understand the gist of your project.</div>
    </div>
    <div fxLayout="column" fxFlex="50%">right</div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100" class="create-container">
    <div fxLayout="column" fxFlex="50%">
      <div class="header">Project category</div>
      <div class="sub-header">
        Choose the category that most closely aligns with your project.

        Think of where backers may look to find it. Reach a more specific community by also choosing a subcategory.

        You’ll be able to change the category and subcategory even after your project is live.
      </div>
    </div>
    <div fxLayout="column" fxFlex="50%">right</div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100" class="create-container">
    <div fxLayout="column" fxFlex="50%">
      <div class="header">Project location</div>
      <div class="sub-header">Enter the location that best describes where your project is based.</div>
    </div>
    <div fxLayout="column" fxFlex="50%">right</div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100" class="create-container">
    <div fxLayout="column" fxFlex="50%">
      <div class="header">Project image</div>
      <div class="sub-header">
        Add an image that clearly represents your project.
        Choose one that looks good at different sizes. It will appear in different sizes in different places: on your project page,
        across the Kickstarter website and mobile apps, and (when shared) on social channels.</div>
    </div>
    <div fxLayout="column" fxFlex="50%">right</div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100" class="create-container">
    <div fxLayout="column" fxFlex="50%">
      <div class="header">Funding goal</div>
      <div class="sub-header">Funding is all-or-nothing. If you don’t meet your goal, you won’t receive any money.</div>
    </div>
    <div fxLayout="column" fxFlex="50%">right</div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100" class="create-container">
    <div fxLayout="column" fxFlex="50%">
      <div class="header">Launch date</div>
      <div class="sub-header">Enter a date when you plan to launch—you can always return to this after you’ve built out more of your Kickstarter project page.</div>
    </div>
    <div fxLayout="column" fxFlex="50%">right</div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100" class="create-container">
    <div fxLayout="column" fxFlex="50%">
      <div class="header">Campaign duration</div>
      <div class="sub-header">Set a time limit for your campaign. You won’t be able to change this after you launch.</div>
    </div>
    <div fxLayout="column" fxFlex="50%">right</div>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" class="create-container">
    <button mat-raised-button color="primary" fxFlex="20">Save</button>
  </div>
</div>
