<div fxLayout="row" style="min-height: calc(100vh - 63.99px)" fxLayoutAlign="center center">
    <div class="displayed-container" fxLayout="column" fxLayoutGap="2rem" fxFlex="60">
      <div class="text-header-web">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      </div>
      <div class="social-group" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="start center">
        <img class="social-icon" src="./assets/images/gamepad.png">
        <img class="social-icon" src="./assets/images/chat-box.png">
        <img class="social-icon" src="./assets/images/location.png">
        <img class="social-icon" src="./assets/images/package.png">
      </div>
    </div>
    <div fxLayout="row" fxFlex="40" style="background-color: transparent">
      <div fxLayout="row" fxLayoutAlign="center center" class="login-container">
        <mat-card class="mat-elevation-z6" id="login-card">
          <h2>Login</h2>
          <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="6px" style="font-size: 12px">
            <form [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
              <div fxLayout="column" fxLayoutAlign="center stretch" style="font-size: 12px">
                <mat-form-field appearance="outline">
                  <mat-label>Enter your email</mat-label>
                  <mat-icon matPrefix>email</mat-icon>
                  <input matInput type="email" placeholder="Email" formControlName="email">
                  <mat-error *ngIf="loginGroup.get('email').invalid && loginGroup.get('email').touched">
                    Email is invalid!
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Enter your password</mat-label>
                  <mat-icon matPrefix>lock</mat-icon>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Password must at least 8 characters">
                  <button mat-icon-button (click)="hide = !hide" matSuffix color="accent">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="loginGroup.get('password').invalid && loginGroup.get('password').touched">
                    Please enter password and must be at least 8 characters
                  </mat-error>
                </mat-form-field>
              </div>
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="loginGroup.invalid">Login</button>
            </form>
            <div fxLayout="row" fxLayoutAlign="end center">
              <!--            <mat-checkbox>Remember me?</mat-checkbox>-->
              <a href="#">Forgot your password?</a>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div class="action-group"
                 fxLayout="column"
                 fxLayoutGap="1rem"
                 fxFlex="100%"
                 fxLayoutAlign="center center">
              <h5>or</h5>
              <button mat-raised-button class="custom-facebook">Continue with Facebook?</button>
              <button mat-raised-button class="custom-gmail" (click)="onGmailLogin()">Sign in with Gmail</button>
            </div>
          </mat-card-actions>
          <mat-divider></mat-divider>
          <!--    <mat-card-actions>-->
          <div class="sign-up-route" fxLayout="row" fxLayoutAlign="center center">
            <div>New to CanFund? <span><a routerLink="/sign-up">Sign up</a></span></div>
          </div>
          <!--    </mat-card-actions>-->
          <mat-divider></mat-divider>
          <mat-card-actions>
            <app-term-privacy-detail></app-term-privacy-detail>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>




