//@import "~scss/variables";
@import "../../../../node_modules/@angular/material/theming";
@include mat-core();

//:host {
//  //@include mat-elevation(4);
//}
:host {
  background-color: #ff3553;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  @include mat-elevation(4);
}


mat-card {
  width: 400px;
  height: auto;
}

button {
  width: 100%;
  color: white;
}

.custom-facebook {
  background-color: #3b5998;
}

.custom-gmail {
  background-color: #B23121;
}

#login-card {
  padding: 2rem;
}

.action-group {
  padding: 0.5rem;
}

.term-and-privacy {
  padding: 0.5rem;
  font-size: 10px;
  color: #857f84;
}

.sign-up-route {
  padding: 1rem;
  font-size: 16px;
  color: #524d51;
  //font-weight: bold;
  //height: 70px;
  //background-color: #b02f1d;
}

.bg-img {
  background-image: url(/assets/images/bgTest.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //min-height: calc(100vh - 60px);
  height: 100vh;
  width: 100vw;
}

.login-container {
  min-height: calc(100vh -  60px);
}
