<div fxLayout="column" class="bg-img" fxLayoutAlign="start center">
  <app-navbar></app-navbar>
  <div fxLayout="row" fxLayoutAlign="center center" class="login-container">
    <mat-card class="mat-elevation-z6" id="login-card">
      <h2>Login</h2>
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="4px" style="font-size: 12px">
        <form [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxLayoutAlign="center stretch" style="font-size: 12px">
            <mat-form-field appearance="outline">
              <mat-label>Enter your email</mat-label>
              <mat-icon matPrefix>email</mat-icon>
              <input matInput type="text" placeholder="Email">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button (click)="hide = !hide" matSuffix color="accent">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button mat-raised-button color="warn">Login</button>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-checkbox>Remember me?</mat-checkbox>
            <a href="#">Forgot your password?</a>
          </div>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div class="action-group"
             fxLayout="column"
             fxLayoutGap="1rem"
             fxFlex="100%"
             fxLayoutAlign="center center">
          <h5>or</h5>
          <button mat-raised-button class="custom-facebook">Continue with Facebook?</button>
          <button mat-raised-button class="custom-gmail" (click)="onGmailLogin()">Sign in with Gmail</button>
        </div>
      </mat-card-actions>
      <mat-divider></mat-divider>
      <!--    <mat-card-actions>-->
      <div class="sign-up-route" fxLayout="row" fxLayoutAlign="center center">
        <div>New to CanFund? <span><a href="#">Sign up</a></span></div>
      </div>
      <!--    </mat-card-actions>-->
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div class="term-and-privacy">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vestibulum nibh at venenatis.
          Curabitur eu augue sed purus feugiat tincidunt. Pellentesque sagittis ornare velit in accumsan
          <span><a href="#">term and privacy</a></span>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
