.title-create {
  .title-create-header {
    font-size: 28px;
    color: #616161;
  }
  .title-create-sub-header {
    font-size: 16px;
    text-align: center;
    color: gray;
  }
}

.main-container {
  padding: 20px;
}

.create-container {
  .sub-container {
    padding-right: 5rem;
  }
}

.header {
  font-size: 16px;
}

.sub-header {
  font-size: 12px;
  color: gray;
}
